In [1]:
import pandas as pd

data = pd.read_csv('Housing.csv')
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,airconditioning,parking,furnishingstatus
0,3150000,1650,3,1,2,no,no,yes,no,0,unfurnished
1,1890000,1700,3,1,2,yes,no,no,no,0,unfurnished
2,2275000,1836,2,1,1,no,no,yes,no,0,semi-furnished
3,4340000,1905,5,1,2,no,no,yes,no,0,semi-furnished
4,3430000,1950,3,2,2,yes,no,yes,no,0,unfurnished

In [2]:
data['bathrooms'].unique()

array([1, 2, 3, 4], dtype=int64)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   airconditioning   545 non-null    object
 9   parking           545 non-null    int64
 10  furnishingstatus  545 non-null    object
dtypes: int64(6), object(5)
memory usage: 47.0+ KB

In [4]:
data.isnull().sum()*100/len(data)

price               0.0
area                0.0
bedrooms            0.0
bathrooms           0.0
stories             0.0
mainroad            0.0
guestroom           0.0
basement            0.0
airconditioning     0.0
parking             0.0
furnishingstatus    0.0
dtype: float64

In [5]:
data.duplicated().sum()

0

In [6]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

categorical_columns = ['mainroad', 'guestroom', 'basement', 'airconditioning', 'furnishingstatus']

for column in categorical_columns:
    data[column] = label_encoder.fit_transform(data[column])

data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,airconditioning,parking,furnishingstatus
0,3150000,1650,3,1,2,0,0,1,0,0,2
1,1890000,1700,3,1,2,1,0,0,0,0,2
2,2275000,1836,2,1,1,0,0,1,0,0,1
3,4340000,1905,5,1,2,0,0,1,0,0,1
4,3430000,1950,3,2,2,1,0,1,0,0,2

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pickle

# Separate features (X) and target variable (y)
X = data.drop('price', axis=1)
y = data['price']

# Split the dataset into training and testing sets (80% training, 20% testing)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize a Random Forest Regressor
model = RandomForestRegressor()

# Train the Random Forest model
model.fit(X, y)

# Save the trained model to a file
with open('random_forest_model.pkl', 'wb') as file:
    pickle.dump(model, file)